td{
	text-align: center;
}

.button
{
	border:1px solid black;
	display: inline-block;
	cursor: pointer;	
}

.button:hover
{
	color:white;
	cursor: pointer;
	background-color: darkblue;
}

.button:active
{
	color:darkblue;
	background-color: yellow;
	cursor:pointer;
}